In [48]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.rc('font', family='NanumGothic')

In [16]:
jeju_card = pd.read_csv('data-3/jeju_card.csv')

In [18]:
jeju_card

       시도명  시군구명 지역구분 업종명  이용자 구분    연령대 성별       연월  이용자수  이용횟수      이용금액
0      제주도   제주시   읍면  유흥    제주도민  60대이상  여  2018-12    23    29   4240100
1      제주도   제주시   읍면  유흥    제주도민  60대이상  남  2018-12   114   190  27414000
2      제주도   제주시   읍면  유흥    제주도민    50대  여  2018-12    52    71   6848000
3      제주도   제주시   읍면  유흥    제주도민    50대  남  2018-12   259   458  91468500
4      제주도   제주시   읍면  유흥    제주도민    40대  여  2018-12    77    99  10021600
...    ...   ...  ...  ..     ...    ... ..      ...   ...   ...       ...
19568  제주도  서귀포시   도심  교통  내국인관광객    40대  남  2016-09  1778  2059  79696179
19569  제주도  서귀포시   도심  교통  내국인관광객    30대  여  2016-09  1441  1543  52066479
19570  제주도  서귀포시   도심  교통  내국인관광객    30대  남  2016-09  2358  2606  87972936
19571  제주도  서귀포시   도심  교통  내국인관광객    20대  여  2016-09   731   765  22788256
19572  제주도  서귀포시   도심  교통  내국인관광객    20대  남  2016-09   724   788  23430793

[19573 rows x 11 columns]

In [24]:
jeju_card.shape

(19573, 11)

In [50]:
jeju_card.head()

   시도명 시군구명 지역구분 업종명 이용자 구분    연령대 성별       연월  이용자수  이용횟수      이용금액
0  제주도  제주시   읍면  유흥   제주도민  60대이상  여  2018-12    23    29   4240100
1  제주도  제주시   읍면  유흥   제주도민  60대이상  남  2018-12   114   190  27414000
2  제주도  제주시   읍면  유흥   제주도민    50대  여  2018-12    52    71   6848000
3  제주도  제주시   읍면  유흥   제주도민    50대  남  2018-12   259   458  91468500
4  제주도  제주시   읍면  유흥   제주도민    40대  여  2018-12    77    99  10021600

In [52]:
jeju_card.tail()

       시도명  시군구명 지역구분 업종명  이용자 구분  연령대 성별       연월  이용자수  이용횟수      이용금액
19568  제주도  서귀포시   도심  교통  내국인관광객  40대  남  2016-09  1778  2059  79696179
19569  제주도  서귀포시   도심  교통  내국인관광객  30대  여  2016-09  1441  1543  52066479
19570  제주도  서귀포시   도심  교통  내국인관광객  30대  남  2016-09  2358  2606  87972936
19571  제주도  서귀포시   도심  교통  내국인관광객  20대  여  2016-09   731   765  22788256
19572  제주도  서귀포시   도심  교통  내국인관광객  20대  남  2016-09   724   788  23430793

In [26]:
jeju_card.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19573 entries, 0 to 19572
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시도명     19573 non-null  object
 1   시군구명    19573 non-null  object
 2   지역구분    19573 non-null  object
 3   업종명     19573 non-null  object
 4   이용자 구분  19573 non-null  object
 5   연령대     19573 non-null  object
 6   성별      19573 non-null  object
 7   연월      19573 non-null  object
 8   이용자수    19573 non-null  int64
 9   이용횟수    19573 non-null  int64
 10  이용금액    19573 non-null  int64
dtypes: int64(3), object(8)
memory usage: 1.6+ MB

In [30]:
jeju_card.describe(include='all')

,시도명,시군구명,지역구분,업종명,이용자 구분,연령대,성별,연월,이용자수,이용횟수,이용금액
count,19573,19573,19573,19573,19573,19573,19573,19573,19573.000000,19573.000000,1.957300e+04
unique,1,2,2,8,2,7,2,28,NaN,NaN,NaN
top,제주도,제주시,도심,식음료,내국인관광객,50대,남,2017-10,NaN,NaN,NaN
freq,19573,9852,9858,2688,9807,3376,9795,738,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2987.681347,5980.462525,2.100849e+08
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5331.172895,13623.951410,3.921408e+08
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000e+03
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254.000000,371.000000,1.765947e+07
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,972.000000,1376.000000,7.142090e+07
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3169.000000,5710.000000,2.169743e+08
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40329.000000,149274.000000,3.213235e+09

In [32]:
jeju_card.isna().sum()

시도명       0
시군구명      0
지역구분      0
업종명       0
이용자 구분    0
연령대       0
성별        0
연월        0
이용자수      0
이용횟수      0
이용금액      0
dtype: int64

In [58]:
object_columns = jeju_card.columns[jeju_card.dtypes == 'object']
object_columns

Index(['시도명', '시군구명', '지역구분', '업종명', '이용자 구분', '연령대', '성별', '연월'], dtype='object')

In [64]:
for col in object_columns:
    print(col)
    print(jeju_card[col].unique(), '\n')

시도명
['제주도']

시군구명
['제주시' '서귀포시']

지역구분
['읍면' '도심']

업종명
['유흥' '식음료' '숙박' '쇼핑' '소매' '문화/레져' '교통' '기타']

이용자 구분
['제주도민' '내국인관광객']

연령대
['60대이상' '50대' '40대' '30대' '20대미만' '20대' '20 미만']

성별
['여' '남']

연월
['2018-12' '2018-11' '2018-10' '2018-09' '2018-08' '2018-07' '2018-06'
 '2018-05' '2018-04' '2018-03' '2018-02' '2018-01' '2017-12' '2017-11'
 '2017-10' '2017-09' '2017-08' '2017-07' '2017-06' '2017-05' '2017-04'
 '2017-03' '2017-02' '2017-01' '2016-12' '2016-11' '2016-10' '2016-09']

In [66]:
jeju_card['연도'] = jeju_card['연월'].str.split('-').str[0]

In [72]:
jeju_card = jeju_card[jeju_card['연도'] != '2016']

In [74]:
jeju_card

,시도명,시군구명,지역구분,업종명,이용자 구분,연령대,성별,연월,이용자수,이용횟수,이용금액,연도
0,제주도,제주시,읍면,유흥,제주도민,60대이상,여,2018-12,23,29,4240100,2018
1,제주도,제주시,읍면,유흥,제주도민,60대이상,남,2018-12,114,190,27414000,2018
2,제주도,제주시,읍면,유흥,제주도민,50대,여,2018-12,52,71,6848000,2018
3,제주도,제주시,읍면,유흥,제주도민,50대,남,2018-12,259,458,91468500,2018
4,제주도,제주시,읍면,유흥,제주도민,40대,여,2018-12,77,99,10021600,2018
...,...,...,...,...,...,...,...,...,...,...,...,...
16702,제주도,서귀포시,도심,교통,내국인관광객,40대,남,2017-01,1891,2241,101651320,2017
16703,제주도,서귀포시,도심,교통,내국인관광객,30대,여,2017-01,1033,1138,36637253,2017
16704,제주도,서귀포시,도심,교통,내국인관광객,30대,남,2017-01,1570,1922,85201203,2017
16705,제주도,서귀포시,도심,교통,내국인관광객,20대,여,2017-01,593,631,18802900,2017
16706,제주도,서귀포시,도심,교통,내국인관광객,20대,남,2017-01,694,759,23765936,2017

In [76]:
jeju_card.shape

(16707, 12)

In [78]:
for col in object_columns:
    print(col)
    print(jeju_card[col].unique(), '\n')

시도명
['제주도']

시군구명
['제주시' '서귀포시']

지역구분
['읍면' '도심']

업종명
['유흥' '식음료' '숙박' '쇼핑' '소매' '문화/레져' '교통' '기타']

이용자 구분
['제주도민' '내국인관광객']

연령대
['60대이상' '50대' '40대' '30대' '20대미만' '20대' '20 미만']

성별
['여' '남']

연월
['2018-12' '2018-11' '2018-10' '2018-09' '2018-08' '2018-07' '2018-06'
 '2018-05' '2018-04' '2018-03' '2018-02' '2018-01' '2017-12' '2017-11'
 '2017-10' '2017-09' '2017-08' '2017-07' '2017-06' '2017-05' '2017-04'
 '2017-03' '2017-02' '2017-01']

In [86]:
jeju_card.loc[jeju_card['연령대'] == '20 미만', '연령대'] ='20대미만'

In [88]:
jeju_card['연령대'].unique()

array(['60대이상', '50대', '40대', '30대', '20대미만', '20대'], dtype=object)